@model MyApp.Models.ViewModels.ProductVM

@{
    ViewData["Title"] = "Create/Update";
}

<form method="Post" asp-action="CreateUpdate" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <input type="hidden" asp-for="Product.ImageUrl" />
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">@((Model.Product == null || Model.Product.Id==0) ? "Create" : "Update")</h2>
            <hr />
        </div>
        <div asp-validation-summary=All> </div>
        <div class="row mb-3">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            @*<span asp-validation-for="Product.Name" class="text-danger"></span>*@
        </div>
        <div class="row mb-3">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control"> </textarea>
            @*<span asp-validation-for="Product.Description" class="text-danger"></span>*@
        </div>
        <div class="row mb-3">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            @*<span asp-validation-for="Product.Price" class="text-danger"></span>*@
        </div>
        <div class="row mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input id="imageUrl" class="form-select" type="file" name="file" />
            @*<span asp-validation-for="Product.ImageUrl" class="text-danger"></span>*@
        </div>
        <div class="row mb-3">
            <label asp-for="Product.CategoryId"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-control">
                <option selected disabled>--Select a Category--</option>

            </select>

            @*<span asp-validation-for="Product.CategoryId" class="text-danger"></span>*@
        </div>
        <div class="row mb-3">

            @if (Model.Product == null || Model.Product.Id==0)
            {
                <button class="btn btn-primary" onclick="return ValidateEmpty()" type="submit">Create</button>
            }
            else
            {
                <button class="btn btn-primary" type="submit">Update</button>
            }

        </div>
    </div>
    <a asp-action="Index" asp-controller="Product">Back to Product List</a>
</form>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });

        function ValidateEmpty() {
            if (document.getElementById("imageUrl").value == "") {
                Swal.fire({
                    title: 'Error!',
                    text: 'Upload Image',
                });
                return false;
            }
            return true;
        }

    </script>
}