@model IEnumerable<MyApp.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-4">
    @foreach (var product in @Model)
    {
        <div class="card" style="width: 18rem;">
            @*<img src="~/Images/7766473b-c5fc-48cd-a103-c9c2490635f2-car-icon-car-icon-car-icon-simple-sign-free-vector.jpg" class="card-img-top" alt="...">*@
            <img src="@product.ImageUrl" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Price.ToString("0.00")</p>
                <a asp-action ="Details" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
